.header {
  height: 6.5vh;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 6rem;
  object-fit: contain;
  margin: 0.6rem 1.1rem;
  margin-top: 1rem;
}

.location {
  display: flex;
}

.header__location {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.75rem;
  color: white;
}

.header__locationImage {
  width: 1.5rem;
}

.header__locationLineOne {
  font-size: 0.7rem;
}

.header__locationLineTwo {
  font-size: 0.9rem;
  font-weight: 500;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  /* border-radius: 24px; */
}

.header__searchCategories {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem 0.4rem 0.25rem 0.8rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  cursor: pointer;
}

.header__searchInput {
  height: 1rem;
  padding: 0.5rem;
  border: none;
  width: 100%;
}

.header__searchIcon {
  padding: 0.4rem 0.5rem 0.22rem 0.5rem;
  height: 22px !important;
  background-color: #e4af6b;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

.header__language p {
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
  cursor: pointer;
}

.header__optionLineOne {
  font-size: 0.7rem;
}

.header__optionLineTwo {
  font-size: 0.9rem;
  font-weight: 500;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 0.5rem;
  margin-right: 1rem;
  color: #e4af6b;
  font-size: 1rem;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  margin-right: 1rem;
  color: white;
}
